html {
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    width: 1400px;
    margin: 0 auto;
}
.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8rem;
    margin-top: 40px;
    width: 100%;
    flex-wrap: wrap;
    gap: 40px;
    
}
.navBar h3 {

}
.navBar a{
    text-decoration: none;
}
.homePage-content {
    
}